<!-- <p>demotdf works!</p> -->

<div class="container" >
    <div class="row">
        <div class="col-12">

          <form #f="ngForm">
            {{f.value|json}}
            <div class="form-group">
              <label for="">Username::</label>
              <input type="text" minlength="5" pattern="admin" class="form-control" placeholder="Enter the username"
                ngModel name="myusername" #username="ngModel" required >

                <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                  ** Please enter the Username...
                  <div *ngIf="username.errors?.minlength">
                      ** Please enter the Minimum length is {{username.errors?.minlength.requiredLength}} 
                  </div>
                  <div *ngIf="username.errors?.pattern">
                      ** Please enter the Appropriate username.. 
                  </div>

                </div>

            </div>

            <div class="form-group">
                <label for="">comment::</label>
                <textarea ngModel  name="comment" #comment="ngModel" required
                  class="form-control"
                 id="" cols="30" rows="10">          

                </textarea>

                <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">
                  ** Please enter the comment..
                </div>
            </div>
          <br>
          <button [disabled]="!f.valid" class="btn btn-outline-success">Submit</button>

        </form>
        </div>
    </div>
</div>
